.category-index h2 { text-transform: capitalize; }
.category-index span.post-date {
  display: inline;
  font-size: 85%;
  font-style: italic;
}

.posts .post { margin-bottom: 2em; }
.posts .post .read-more { text-align: right; }
.posts .post .read-more a { font-size: 85%; }
.posts .post a.flickr {
  display: block;
  overflow: hidden;
  max-height: 200px;
  border-radius: 5px;
}
