<div class="row" id="header">
  <div class="col s12">
    <div class="card">

      <div class="card-image">
        <img />
      </div>

      <nav class="white">
        <div class="nav-wrapper">
          <a href="#" data-activates="side-nav" class="button-collapse waves-effect waves-light" >
            <i class="material-icons">menu</i>
          </a>

          <ul id="nav-mobile" class="left hide-on-med-and-down">
            {% assign pages_list = site.pages | sort:"url" %}
            {% for node in pages_list %}{% if node.title != null %}{% if node.layout == "page" %}
            <li class="{% if page.url == node.url %}active{% endif %}">
              <a class="waves-effect waves-light" href="{{ node.url }}">
                {{ node.title }}
              </a>
            </li>
            {% endif %}{% endif %}{% endfor %}
            {% if page.url != '/index.html' %}
            <li>
              <a class="waves-effect waves-light" href="/">
                Retour à l'accueil
              </a>
            </li>
            {% endif %}
          </ul>

          <ul class="side-nav" id="side-nav">
            {% assign pages_list = site.pages | sort:"url" %}
            {% for node in pages_list %}{% if node.title != null %}{% if node.layout == "page" %}
            <li class="{% if page.url == node.url %}active{% endif %}">
              <a class="waves-effect waves-light" href="{{ node.url }}">
                {{ node.title }}
              </a>
            </li>
            {% endif %}{% endif %}{% endfor %}
            {% if page.url != '/index.html' %}
            <li>
              <a class="waves-effect waves-light" href="/">
                Retour à l'accueil
              </a>
            </li>
            {% endif %}
          </ul>
        </div>
      </nav>

    </div>
  </div>
</div>

