<div class="post card">

  <div class="card-image">
    <img src="http://materializecss.com/images/sample-1.jpg">
    <span class="post-title card-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
      <span class="post-date">{{ post.date | date_to_string }}</span>
    </span>
  </div>

  <div class="card-content">
    <div class="post-excerpt">
      {{ post.excerpt }}
    </div>
  </div>

  <div class="card-action">
    <div class="read-more">
      <a href="{{ post.url }}">
        {% if post.excerpt != post.content %}
        Voir l'article complet
        {% else %}
        Voir la page dédiée
        {% endif %}
      </a>
    </div>
  </div>

</div>
